// bower:scss
// endbower

//Color palette

$primary-light: #b3dced;
$primary-dark: #29b8e5;
$primary-darker: #20b0e0;
$dark: #039;
$secondary: #9cf;
$tertiary: #999;
$tertiary-dark: #666;
$tertiary-darkest: #333;
$underglow: #6e7987;
$light: #eee;
$lightest: #fff;

body {
  background: $primary-darker;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark;
}

a, a:visited{
  color: $light;
}

a:hover, a:active{
  color: $lightest;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  
  background: $primary-dark; /* Old browsers */
  background: -moz-linear-gradient(top, $primary-light 0%, $primary-dark 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, $primary-light 0%,$primary-dark 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, $primary-light 0%,$primary-dark 100%); /* IE10+ */
  background: linear-gradient(to bottom, $primary-light 0%,$primary-dark 100%); /* W3C */
  border-radius: 6px;
  padding: 5px 10px 10px;
}

h1 {
    font-size: 24px;
    letter-spacing: -1px;
    margin: .2em 0;
    letter-spacing: .01em;
}

h2 {
  font-size: 18px;
  margin: 0;
  border-bottom: 3px solid $light;
}

table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
thead{
  th{
    background: $tertiary-dark; /* Old browsers */
    background: -moz-linear-gradient(top, $tertiary-dark 0%, $tertiary-darkest 36%, $underglow 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$tertiary-dark), color-stop(36%,$tertiary-darkest), color-stop(100%,$underglow)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $tertiary-dark 0%,$tertiary-darkest 36%,$underglow 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $tertiary-dark 0%,$tertiary-darkest 36%,$underglow 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $tertiary-dark 0%,$tertiary-darkest 36%,$underglow 100%); /* IE10+ */
    background: linear-gradient(to bottom, $tertiary-dark 0%,$tertiary-darkest 36%,$underglow 100%); /* W3C */
    color: $light;
    font-size: 80%;
    letter-spacing: .05em;
    &:first-child{
      border-radius: 6px 0 0 0;
    }
    &:last-child{
      border-radius: 0 6px 0 0;
    }
  }
}
tbody{
  tr{
    cursor: pointer;
  }
  th{
    background-color: $lightest;
    }

  td{
    background-color: $light;
    color: $dark;
    font-weight: bold;
    &.noservice{
      color: $tertiary;
      font-style: italic;
    }
    &.now{
      color: #f60;
    }
  }
  
}

th, td{
  padding: .2em .5em;
  border-bottom: 3px solid $primary-dark;
}

tr:last-child td, tr:last-child th{
  border-bottom: 0;
}

#departures {
  margin-top: 10px;
  background-color: $lightest;
  padding: 10px;
  text-align: left;
  font-size: 80%;
  position: relative;
  line-height: 1.55em;
  p{
    margin: .25em 0;
  }
}

#close{
  width: 20px;
  background-color: $tertiary-dark;
  color: $light;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
}

footer{
  font-size: 80%;
  text-align: center;
  margin: 10px 0;
  color: $light;
}

